In [1]:
%matplotlib inline

In [2]:
import pandas

In [3]:
frame = pandas.read_parquet("Ayiti.parq")
frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8595 entries, 1824819 to 2186686
Data columns (total 31 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   name                             8595 non-null   object
 1   original_language                8595 non-null   object
 2   original_description             8595 non-null   object
 3   translated_description           8595 non-null   object
 4   funded_amount                    8595 non-null   int64
 5   loan_amount                      8595 non-null   int64
 6   status                           8595 non-null   object
 7   image_id                         8595 non-null   object
 8   video_id                         8595 non-null   object
 9   activity                         8595 non-null   object
 10  sector                           8595 non-null   object
 11  use                              8595 non-null   object
 12  country_code                     8595 non-null   object
 13  country_name                     8595 non-null   object
 14  town                             8595 non-null   object
 15  currency_policy                  8595 non-null   object
 16  currency_exchange_coverage_rate  8595 non-null   float64
 17  currency                         8595 non-null   object
 18  partner_id                       8595 non-null   object
 19  posted_time                      8595 non-null   datetime64[ns, UTC]
 20  planned_expiration_time          8475 non-null   datetime64[ns, UTC]
 21  disbursed_time                   8595 non-null   datetime64[ns, UTC]
 22  funded_time                      8477 non-null   datetime64[ns, UTC]
 23  term_in_months                   8595 non-null   int64
 24  lender_count                     8595 non-null   int64
 25  journal_entries_count            8595 non-null   int64
 26  bulk_journal_entries_count       8595 non-null   int64
 27  tags                             8595 non-null   object
 28  repayment_interval               8595 non-null   object
 29  distribution_model               8595 non-null   object
 30  borrowers                        8410 non-null   object
dtypes: datetime64[ns, UTC](4), float64(1), int64(6), object(20)
memory usage: 2.1+ MB

In [4]:
frame.sample(5).T

id,1306038,1766500,2221754,1121054,1443660
name,Minouche,Rosena,Nadege,Martin Grégoire,Sylvanie
original_language,French,French,French,French,French
original_description,"Minouche a 30 ans, elle vit en union libre et ...",Rosena a utilisé son précédent pour augmenter ...,"Nadege est âgée de 30 ans, elle a deux enfants...",Grégoire est très satisfait du crédit qui lui ...,"Sylvanie a bien géré son crédit précédent, ell..."
translated_description,Minouche is 30 years old and lives with partne...,Rosena used her previous loan to increase her ...,Nadege is 30 years old. She has two children t...,Grégoire is very happy with the loan he obtain...,Sylvanie managed her last loan well. She not o...
funded_amount,300,300,325,1125,175
loan_amount,300,300,325,1125,175
status,funded,funded,funded,funded,funded
image_id,2538627,2891804,4383165,1992728,2570038
video_id,,,,,
activity,Used Shoes,Cosmetics Sales,Spare Parts,Beverages,Cosmetics Sales
sector,Clothing,Retail,Retail,Food,Retail
use,to increase her stock of women's shoes.,to increase her stock of soap and cream.,to add to her inventory of spare sparts to resell,to increase his stock.,to buy a stock of beauty cream.
country_code,HT,HT,HT,HT,HT
country_name,Haiti,Haiti,Haiti,Haiti,Haiti
town,Leogane,Fontamara(Centre-Ville),Fontamara(Centre-Ville),Delmas,Hinche
currency_policy,shared,shared,shared,shared,shared
currency_exchange_coverage_rate,0.1,0.1,0.1,0.1,0.1
currency,HTG,HTG,HTG,HTG,HTG
partner_id,442,442,442,442,442
posted_time,2017-05-24 20:19:27+00:00,2019-05-21 16:44:45+00:00,2021-08-09 14:58:03+00:00,2016-07-21 22:20:34+00:00,2017-12-29 15:04:54+00:00
planned_expiration_time,2017-07-18 08:40:04+00:00,2019-06-22 19:00:04+00:00,2021-09-08 23:00:26+00:00,2016-08-29 23:40:05+00:00,2018-01-28 17:00:04+00:00
disbursed_time,2017-05-10 07:00:00+00:00,2019-04-30 07:00:00+00:00,2021-07-26 07:00:00+00:00,2016-07-15 07:00:00+00:00,2017-12-22 08:00:00+00:00
funded_time,2017-06-18 14:03:03+00:00,2019-06-01 04:22:52+00:00,2021-08-16 18:52:41+00:00,2016-08-22 06:54:37+00:00,2017-12-29 21:44:36+00:00
term_in_months,10,9,8,10,8
lender_count,11,10,11,37,7
journal_entries_count,1,1,1,1,1
bulk_journal_entries_count,1,1,1,1,1
tags,"[#Woman-Owned Business, #Eco-friendly]","[#Woman-Owned Business, user_favorite, #Parent...","[user_favorite, #Parent, #Woman-Owned Business...","[user_favorite, user_favorite, #Repeat Borrower]","[#Woman-Owned Business, #Repeat Borrower]"
repayment_interval,monthly,monthly,monthly,monthly,monthly
distribution_model,field_partner,field_partner,field_partner,field_partner,field_partner
borrowers,"[{'gender': 'female', 'is_pictured': True, 'na...","[{'gender': 'female', 'is_pictured': True, 'na...","[{'gender': 'female', 'is_pictured': True, 'na...","[{'gender': 'male', 'is_pictured': True, 'name...","[{'gender': 'female', 'is_pictured': True, 'na..."

In [5]:
frame.describe()

,funded_amount,loan_amount,currency_exchange_coverage_rate,term_in_months,lender_count,journal_entries_count,bulk_journal_entries_count
count,8595.000000,8595.000000,8595.000000,8595.000000,8595.000000,8595.000000,8595.000000
mean,818.880163,846.303083,0.098290,12.114136,26.516114,1.952065,1.467481
std,2576.906204,2658.426878,0.019787,14.427243,76.894121,3.539239,1.960800
min,0.000000,25.000000,0.000000,2.000000,0.000000,1.000000,1.000000
25%,275.000000,275.000000,0.100000,7.000000,8.000000,1.000000,1.000000
50%,425.000000,425.000000,0.100000,8.000000,14.000000,1.000000,1.000000
75%,775.000000,800.000000,0.100000,10.000000,27.000000,1.000000,1.000000
max,100000.000000,100000.000000,0.200000,77.000000,3030.000000,22.000000,11.000000

In [6]:
frame.describe(include='O')

,name,original_language,original_description,translated_description,status,image_id,video_id,activity,sector,use,country_code,country_name,town,currency_policy,currency,partner_id,tags,repayment_interval,distribution_model,borrowers
count,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8595,8410
unique,3966,4,8402,8266,4,6558,2,108,14,5293,1,1,82,2,2,10,4798,3,1,4083
top,,French,,,funded,,,Retail,Food,to increase her stock of merchandise.,HT,Haiti,Delmas,shared,HTG,442,[],monthly,field_partner,"[{'gender': 'female', 'is_pictured': True, 'na..."
freq,185,6918,185,330,8440,185,8594,1052,3523,366,8595,8595,1399,8352,8159,6554,2053,7834,8595,33