In [1]:
%matplotlib inline
import pandas

In [2]:
frame = pandas.read_json("/Users/tipanverella/Documents/DATA/kiva/loans.json")

In [9]:
frame['partner_id'] = frame['partner_id'].astype(str)
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2176690 entries, 0 to 2176689
Data columns (total 32 columns):
 #   Column                           Dtype
---  ------                           -----
 0   id                               int64
 1   name                             object
 2   original_language                object
 3   original_description             object
 4   translated_description           object
 5   funded_amount                    int64
 6   loan_amount                      int64
 7   status                           object
 8   image_id                         object
 9   video_id                         object
 10  activity                         object
 11  sector                           object
 12  use                              object
 13  country_code                     object
 14  country_name                     object
 15  town                             object
 16  currency_policy                  object
 17  currency_exchange_coverage_rate  float64
 18  currency                         object
 19  partner_id                       object
 20  posted_time                      datetime64[ns, UTC]
 21  planned_expiration_time          datetime64[ns, UTC]
 22  disbursed_time                   datetime64[ns, UTC]
 23  funded_time                      datetime64[ns, UTC]
 24  term_in_months                   int64
 25  lender_count                     int64
 26  journal_entries_count            int64
 27  bulk_journal_entries_count       int64
 28  tags                             object
 29  repayment_interval               object
 30  distribution_model               object
 31  borrowers                        object
dtypes: datetime64[ns, UTC](4), float64(1), int64(7), object(20)
memory usage: 531.4+ MB

In [5]:
sorted(frame.country_name.unique())

['Afghanistan',
 'Albania',
 'Armenia',
 'Azerbaijan',
 'Bangladesh',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Cote D'Ivoire",
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Fiji',
 'Gaza',
 'Georgia',
 'Ghana',
 'Guam',
 'Guatemala',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Iraq',
 'Israel',
 'Jordan',
 'Kenya',
 'Kosovo',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Mozambique',
 'Myanmar (Burma)',
 'Namibia',
 'Nepal',
 'Nicaragua',
 'Nigeria',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Puerto Rico',
 'Rwanda',
 'Saint Vincent and the Grenadines',
 'Samoa',
 'Senegal',
 'Sierra Leone',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Sudan',
 'Sri Lanka',
 'Suriname',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'The Democratic Republic of the Congo',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United States',
 'Uruguay',
 'Vanuatu',
 'Vietnam',
 'Virgin Islands',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [6]:
frame.query("country_name == 'Haiti'").sample(5)

,id,name,original_language,original_description,translated_description,funded_amount,loan_amount,status,image_id,video_id,...,disbursed_time,funded_time,term_in_months,lender_count,journal_entries_count,bulk_journal_entries_count,tags,repayment_interval,distribution_model,borrowers
323137,1121003,Vanel,French,"Vanel a 37 ans, il est marié et il a quatre en...","Vanel is 37 years old, married, and has four c...",325,325,funded,2259514,,...,2016-07-13 07:00:00+00:00,2016-08-01 08:01:24+00:00,8,7,1,1,"[#Animals, user_favorite, volunteer_pick, user...",monthly,field_partner,"[{'name': 'Vanel', 'gender': 'male', 'is_pictu..."
626768,871459,Rolin,French,Rollin a 44 ans. Il est célibataire et n'a pas...,Rolin is 44 years old. He is single and has no...,425,425,funded,1860539,,...,2015-04-10 04:00:00+00:00,2015-04-26 03:33:38+00:00,7,8,2,1,[],monthly,field_partner,"[{'name': 'Rolin', 'gender': 'male', 'is_pictu..."
629986,1633693,Precilia,French,Precilia a utilisé son prêt précédent pour aug...,Precilia had used her previous loan to increas...,225,225,funded,2983088,,...,2018-10-12 07:00:00+00:00,2018-10-31 17:55:25+00:00,8,7,1,1,"[#Woman-Owned Business, #Repeat Borrower]",monthly,field_partner,"[{'name': 'Precilia', 'gender': 'female', 'is_..."
460898,1747698,Loulouse,French,"Loulouse progresse considérablement, avec le p...",Loulouse is making considerable progress. With...,975,975,funded,3134391,,...,2019-04-16 07:00:00+00:00,2019-05-04 23:30:19+00:00,9,29,1,1,"[#Repeat Borrower, #Woman-Owned Business, #Eld...",monthly,field_partner,"[{'name': ' Loulouse', 'gender': 'female', 'is..."
1879912,1682990,Fils Acelomme,French,Fils Acelomme gère avec efficacité son épiceri...,"Fils Acelomme sells spices, which is his sole ...",525,525,funded,2841655,,...,2018-12-18 08:00:00+00:00,2019-01-18 22:20:19+00:00,9,20,1,1,"[#Parent, #Repeat Borrower]",monthly,field_partner,"[{'name': 'Fils Acelomme', 'gender': 'male', '..."

In [7]:
frame.query("country_name == 'Haiti'").index.size

8595

In [8]:
12/7000, frame.query("country_name == 'Haiti'").index.size / frame.index.size

(0.0017142857142857142, 0.003948655986842408)

In [11]:
frame.query("country_name == 'Haiti'").to_parquet("Ayiti.parq")